@import '../../../variables.css';

.pc-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1.5rem 0;
    box-shadow: 4px 10px 20px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 10px 20px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 10px 20px -9px rgba(0,0,0,0.75); 
    background-color: #f5f5f5;
    border-radius: 1rem;
    transition: all .8s ease-in-out ;
}

/*
.pc-card:hover{
    height: 75rem;
}
*/
.pc-web-image{
    width: 100%;
    height: 20rem;
}

.pc-proyect-name{
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 700;
    color: var(--orange);

}

.pc-description{
    font-size: 1.8rem;
    margin: 1rem 0;
    color: var(--mainBlue);
}

.pc-tech-use-title{
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--orange);
}

.pc-line-tech-used{
    width: 100%;
    height: 1px;
    background-color: var(--orange);
}


.pc-con-tech-img{
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, minmax(8.5rem, 8.5rem));
    width: 100%;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
}

.pc-tech-image{
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 5px;
}

.pc-title-link{
    font-size: 1.8rem;
    margin: .5rem 0;
 
}

.pc-link{
    text-align: center;
    font-size: 1.7rem;
    color: #54457F;
    cursor: pointer;
    margin-bottom: 1rem;
    text-decoration: none;
}





.pc-showInfo-btn{
    font-size: 2rem;
    border-radius: .5rem;
    background-color: var(--orange);
    color: white;
    padding: 1rem 2rem;
    outline: none;
    cursor: pointer;
    border: solid 1px white;
    transition: all .15s linear;
}

.pc-showInfo-btn:hover{
    color: var(--orange);
    background-color: white;
    border: solid 1px var(--orange);
}




@media (max-width: 500px){
    .pc-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 1.5rem 0;
        -webkit-box-shadow: 4px 5px 5px -3px #000000; 
        box-shadow: 4px 5px 5px -3px #000000;
        background-color: white;
        border-radius: 1rem;
        transition: all .8s ease-in-out ;
        max-width: 95vw;
        overflow-x: hidden;
    }


      .pc-con-tech-img{
        display: grid;
        justify-content: space-around;
        align-items: center;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(3, minmax(5rem, 5rem));
        width: 100%;
        padding: 1rem 0rem;
        margin-bottom: 2rem;
    }
    
    .pc-tech-image{
        width: 5rem;
        height: 5rem;
        border-radius: 5px;
    }
    
    .pc-title-link{
        font-size: 1.8rem;
        margin: .5rem 0;
     
    }
    
    .pc-link{
        text-align: center;
        font-size: 1.7rem;
        color: #54457F;
        cursor: pointer;
        margin-bottom: 1rem;
        text-decoration: none;
    }
}

